/* test.css - Only for background color testing */
td {
    width: 60px;
    height: 60px;
    border: 2px solid black;
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    background-color: tan;
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background-color: chocolate;
}
