{% extends 'chess_app/base.html' %}

{% block content %}
<h2>About Me</h2>
<p>My name is Sai Madhava Rao Lakkakula, and I am passionate about technology and web development. 
   I thrive on solving complex problems and continuously learning new skills in software development. 
   Along with my technical interests, I am an experienced chess coach and a dedicated chess player from India, 
   with a deep understanding of the game's strategies. Currently, I am pursuing my Master's in Computer Science 
   at California State University, Chico.</p>
{% endblock %}
