{% extends 'chess_app/base.html' %}

{% block content %}
<h2>History of Chess</h2>
<p>Chess is a strategic board game played between two players. It evolved from chaturanga, an older game of Indian origin, 
   played with 16 pieces on each side. This game symbolizes a war between two kingdoms. The chess game ends in two main ways: 
   when the King is checkmated (attacked with no escape) or when the player has no legal moves left. Like a war that continues 
   until a ruler falls, chess goes on until one King is trapped or can't move.</p>
{% endblock %}
