{% extends 'chess_app/base.html' %}

{% block content %}
<head>
    {% load static %}
    <!-- Link to the chessboard.css file -->
    <link rel="stylesheet" href="{% static 'chess_app/css/chessboard.css' %}">
    <!-- Link to the chessboard.js file -->
    <script src="{% static 'chess_app/js/chessboard.js' %}"></script>
</head>

<h1>Chess Game by Sai Madhava Rao Lakkakula</h1>

<!-- Chessboard Table -->
<table id="chessboard">
    <tr><th>8</th><td id="a8">&#9820;</td><td id="b8">&#9822;</td><td id="c8">&#9821;</td><td id="d8">&#9819;</td><td id="e8">&#9818;</td><td id="f8">&#9821;</td><td id="g8">&#9822;</td><td id="h8">&#9820;</td></tr>
    <tr><th>7</th><td id="a7">&#9823;</td><td id="b7">&#9823;</td><td id="c7">&#9823;</td><td id="d7">&#9823;</td><td id="e7">&#9823;</td><td id="f7">&#9823;</td><td id="g7">&#9823;</td><td id="h7">&#9823;</td></tr>
    <tr><th>6</th><td id="a6">&nbsp;</td><td id="b6">&nbsp;</td><td id="c6">&nbsp;</td><td id="d6">&nbsp;</td><td id="e6">&nbsp;</td><td id="f6">&nbsp;</td><td id="g6">&nbsp;</td><td id="h6">&nbsp;</td></tr>
    <tr><th>5</th><td id="a5">&nbsp;</td><td id="b5">&nbsp;</td><td id="c5">&nbsp;</td><td id="d5">&nbsp;</td><td id="e5">&nbsp;</td><td id="f5">&nbsp;</td><td id="g5">&nbsp;</td><td id="h5">&nbsp;</td></tr>
    <tr><th>4</th><td id="a4">&nbsp;</td><td id="b4">&nbsp;</td><td id="c4">&nbsp;</td><td id="d4">&nbsp;</td><td id="e4">&nbsp;</td><td id="f4">&nbsp;</td><td id="g4">&nbsp;</td><td id="h4">&nbsp;</td></tr>
    <tr><th>3</th><td id="a3">&nbsp;</td><td id="b3">&nbsp;</td><td id="c3">&nbsp;</td><td id="d3">&nbsp;</td><td id="e3">&nbsp;</td><td id="f3">&nbsp;</td><td id="g3">&nbsp;</td><td id="h3">&nbsp;</td></tr>
    <tr><th>2</th><td id="a2">&#9817;</td><td id="b2">&#9817;</td><td id="c2">&#9817;</td><td id="d2">&#9817;</td><td id="e2">&#9817;</td><td id="f2">&#9817;</td><td id="g2">&#9817;</td><td id="h2">&#9817;</td></tr>
    <tr><th>1</th><td id="a1">&#9814;</td><td id="b1">&#9816;</td><td id="c1">&#9815;</td><td id="d1">&#9813;</td><td id="e1">&#9812;</td><td id="f1">&#9815;</td><td id="g1">&#9816;</td><td id="h1">&#9814;</td></tr>
    <tr>
        <th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th>
    </tr>
</table>

<!-- Controls for Chess Move -->
<div class="controls d-flex justify-content-around align-items-center my-3">
    <input type="text" class="form-control mx-2" id="src" placeholder="e2" style="width: 100px;">
    <input type="text" class="form-control mx-2" id="dst" placeholder="e4" style="width: 100px;">
    <button class="btn btn-primary mx-2" onclick="movePiece()">Move</button>
    <button class="btn btn-danger mx-2" onclick="resetBoard()">Reset</button>
</div>

<!-- Resign Button -->
<div class="controls d-flex justify-content-around align-items-center my-3">
    <button class="btn btn-warning" onclick="resign()">Resign</button>
</div>

<script>
    function getCSRFToken() {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.startsWith('csrftoken=')) {
                return cookie.substring('csrftoken='.length, cookie.length);
            }
        }
        return '';
    }

    function resign() {
        // Send an AJAX request to handle resignation
        fetch("{% url 'resign_game' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken()
            },
            body: JSON.stringify({})  // Send an empty object for now
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('You resigned. Redirecting to game history...');
                window.location.href = "{% url 'game' %}";  // Redirect to the game history page
            } else {
                alert('Error: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

{% endblock %}
