{% extends 'chess_app/base.html' %}

{% block content %}
<h2>Chess Rules</h2>
<ul>
    <li>Pawn: Moves forward one square but captures diagonally.</li>
    <li>Rook: Moves in straight lines, horizontally or vertically.</li>
    <li>Knight: Moves in an L-shape.</li>
    <li>Bishop: Moves diagonally.</li>
    <li>Queen: Moves any number of squares in any direction.</li>
    <li>King: Moves one square in any direction.</li>
    <li>Castling, Pawn promotion, enpassant capture are the special moves in the game.</li>
</ul>
{% endblock %}
